<!-- STYLES -->
{{ 'accordion.css' | asset_url | stylesheet_tag }}

<!-- VARIABLES -->
{% if page.handle != blank %}
  {% assign page_handle = page.handle %}
{% else %}
  {% assign page_handle = 'products' %}
{% endif %}
{% assign featured_articles = blogs[page_handle].articles | reverse %}

<!-- ACCORDION -->
<div class="accordion">
  {% for article in featured_articles %}
    <div class="accordion-item">
      <details name="faq">
        <summary>
          <h3 class="accordion-heading">{{ article.title }}</h3>
        </summary>
        <div class="accordion-content">
          {{ article.content }}
        </div>
      </details>
    </div>
  {% endfor %}
</div>
