<!-- SECTION EMPTY CART -->
<div class="section-error-cart">
  <div class="error-img-container">
    {% render 'icon-empty-cart', size: '24rem' %}
  </div>
  <h1 class="heading-error">Your cart is currently empty</h1>
  <div class="error-btn-container">
    <a class="tmp-btn tmp-btn_main tmp-btn_error bold" href="{{ collections['frontpage'].url }}">Continue shopping</a>
  </div>
</div>