<!-- STYLES -->
{{ 'socials.css' | asset_url | stylesheet_tag }}

<!-- SECTION SOCIALS -->
<section class="section-socials">
  <div class="socials-grid">
    <div class="socials-item">
      <a href="https://www.instagram.com/themoonprojectph/'" class="socials-link">
        {% render 'icon-instagram', size: '8rem' %}
      </a>
    </div>
    <div class="socials-item">
      <a href="https://facebook.com/themoonprojectph" class="socials-link">
        {% render 'icon-facebook', size: '8rem' %}
      </a>
    </div>
    <div class="socials-item">
      <a
        href="https://open.spotify.com/user/31kt54g6vwyoedvp2hdp2nfpnvye?si=t_3ygD0wRF6Ki1bm49IpsA"
        class="socials-link"
      >
        {% render 'icon-spotify', size: '8rem' %}
      </a>
    </div>
  </div>
</section>
