<!-- STYLES -->
{{ 'socials.css' | asset_url | stylesheet_tag }}

<!-- SECTION SOCIALS -->
<section class="section-socials">
  <div class="socials-grid">
    <div class="socials-item">
      <a href="#" class="socials-link">
        {% render 'icon-instagram', size: '8rem' %}
      </a>
    </div>
    <div class="socials-item">
      <a href="#" class="socials-link">
        {% render 'icon-facebook', size: '8rem' %}
      </a>
    </div>
    <div class="socials-item">
      <a href="#" class="socials-link">
        {% render 'icon-spotify', size: '8rem' %}
      </a>
    </div>
    <div class="socials-item">
      <a href="#" class="socials-link">
        {% render 'icon-instagram', size: '8rem' %}
      </a>
    </div>
  </div>
</section>
