<!-- STYLES -->
{{ 'about.css' | asset_url | stylesheet_tag }}

<!-- VARIABLES -->
{% assign img_handle = page.handle | append: '.webp' %}
{% assign img_src = images[img_handle] %}

<div class="heading-container__about">
  <p class="subheading">{{ page.title }}</p>
  <h2 class="heading-2">
    {% if page.handle == 'about-us' %}
      Greetings, Explorer
    {% else %}
      Customer Care
    {% endif %}
  </h2>
</div>

{% if page.handle == 'about-us' %}
  <section class="section-pages">
    <div class="container">
      <div class="about-grid">
        <div class="about-img-container">
          <img
            class="about-img"
            src="{{ img_src | image_url }}"
            alt=""
            width="auto"
            height="auto"
          >
        </div>
        <div class="about-content">
          <p>{{ page.content }}</p>
        </div>
      </div>
    </div>
  </section>
  {% render 'stores' %}
  {% render 'socials' %}
{% else %}
  <section class="section-faq">
    <div class="container">
      <div class="accordion">
        <div class="accordion-item">
          <details name="faq">
            <summary>
              <h3 class="accordion-heading">How do i place an order?</h3>
            </summary>
            <div class="accordion-content">
              <p>
                <span>Your Moon Project Adventure: Quick Guide to Ordering</span>
              </p>
              <ul>
                <li>
                  <span>Select Your Styles:</span> Embark on your style journey by clicking 'SHOP'. Explore our
                  collection and add your favorite finds to your cart.
                </li>
                <li>
                  <span>Checkout Process:</span> Proceed to checkout once you're ready. After placing your order, you'll
                  get an email confirmation. Remember, each order is a commitment - no changes or cancellations once
                  it’s confirmed.
                </li>
                <li>
                  <span>Effortless Payments:</span> With PayPal, your payment is instantly taken care of. Opting for
                  bank transfer or GCash? HitPay has got it covered for a smooth transaction.
                </li>
                <li>
                  <span>Track Your Fashion Voyage:</span> We'll send you a tracking number via email as soon as your
                  order is prepped and ready to ship.
                </li>
              </ul>
            </div>
          </details>
        </div>
        <div class="accordion-item">
          <details name="faq">
            <summary>
              <h3 class="accordion-heading">How long does it usually take for my order to arrive?</h3>
            </summary>
            <div class="accordion-content">
              <p>
                <span> Approximate time of transit are as follow: </span>
              </p>
              <ul>
                <li><span>Metro Manila Area</span> 4-8 working days</li>
                <li><span>Outside Metro Manila Area</span> 7-10 working days</li>
              </ul>
            </div>
          </details>
        </div>
        <div class="accordion-item">
          <details name="faq">
            <summary>
              <h3 class="accordion-heading">Do you ship internationally?</h3>
            </summary>
            <div class="accordion-content">
              <ul>
                <li>
                  We are sorry but we do not ship to international destinations as we are still looking for a cheap and
                  efficient courier service.
                </li>
                <li>
                  Customers outside Philippines who wish to purchase The Moon Project products will need to contact us
                  directly and sort things out.
                </li>
              </ul>
            </div>
          </details>
        </div>
        <div class="accordion-item">
          <details name="faq">
            <summary>
              <h3 class="accordion-heading">What is your Return Policy?</h3>
            </summary>
            <div class="accordion-content">
              <p>
                At The Moon Project, every piece is a journey, and we want to ensure it’s a stellar one for you. While
                all sales are final upon confirmation, we understand that sometimes the cosmos doesn’t align. Here's how
                we can navigate this together:
              </p>

              <ul>
                <li>
                  <span>Original Galaxy, Original State:</span> If your item is astray (wrong or defective), it can
                  return to our orbit. Make sure it's in its original packaging, unaltered - unused, unworn, unwashed,
                  with all tags still in orbit.
                </li>
                <li>
                  <span>Size Shifts:</span> Our universe doesn't accommodate size changes post-landing. Consult our size
                  chart on the website to ensure your selection fits your space.
                </li>
                <li>
                  <span>Return Voyage Timing:</span> Any items on an unscheduled return trip must embark back to us
                  within 7 days of arrival.
                </li>
                <li>
                  <span>Initiating a Return:</span> Start your return process by transmitting a message to
                  themoonprojectph@gmail.com Follow our return instructions carefully - unannounced returns can’t dock
                  at our station.
                </li>
                <li>
                  <span>Exchange Protocol:</span> Once we receive your item, we’ll inspect its condition before
                  processing an exchange. This is subject to our cosmic approval.
                </li>
              </ul>

              <p>
                <span>Contact for Concerns:</span> For any space queries, reach out at themoonprojectph@gmail.com with
                your order number, photo of the waybill, product details, and a brief description of your issue. Expect
                a response from our crew within 48 working hours. Remember, the success of your replacement or refund
                mission is contingent upon our review.
              </p>
            </div>
          </details>
        </div>
        <div class="accordion-item">
          <details name="faq">
            <summary>
              <h3 class="accordion-heading">How do I contact you?</h3>
            </summary>
            <div class="accordion-content">
              <p>
                <span>For any further questions and queries regarding products or any other concerns.</span>
              </p>
              <ul>
                <li>Email us here: hola@themoonproject.ph</li>
                <li>Message us here: Instagram</li>
              </ul>
            </div>
          </details>
        </div>
        <div class="accordion-item">
          <details name="faq">
            <summary>
              <h3 class="accordion-heading">Size chart</h3>
            </summary>
            <div class="accordion-content">
              <p><span> Add size chart </span></p>
            </div>
          </details>
        </div>
      </div>
    </div>
  </section>
{% endif %}
