{{ 'about.css' | asset_url | stylesheet_tag }}

<div class="heading-container__about">
  <p class="subheading">{{ page.title }}</p>
  <h2 class="heading-2">Greetings, Explorer</h2>
</div>
<section class="section-pages">
  <div class="container">
    <p>{{ page.content }}</p>
  </div>
</section>
