<!-- CART STYLES -->
{{ 'cart.css' | asset_url | stylesheet_tag }}

{% if cart.item_count > 0 %}
  <!-- SECTION CART -->
  <section class="section-cart">
    <div class="container">
      <!-- CART HEADING -->
      <div class="cart-heading-container">
        <h1 class="heading-2">Your cart</h1>
        <div class="heading-cta-container">
          {% render 'icon-right-chevron' %}
          <a class="link_cart-cta" href="{{ collections['frontpage'].url }}">
            Continue shopping
          </a>
        </div>
      </div>

      <!-- CART FORM -->
      <div class="cart-form-container">
        <form 
          class="cart-form" 
          action="{{ routes.cart_url }}" 
          method="POST" 
          novalidate
        >
           <!-- CART TABLE -->
          <table class="cart-table">
             <!-- CART HEAD -->
            <thead class="thead heading-table">
              <tr class="tr-head">
                <th class="th th-product">Product</th>
                <th class="th th-quantity">Quantiy</th>
                <th class="th th-total">Total</th>
              </tr>
            </thead>
            <!-- CART BODY -->
            <tbody class="tbody">
              {% for item in cart.items %}
                {% render 'cart-table-row', item:item %}
              {% endfor %}
            </tbody>
          </table>

          <!-- CART CALL TO ACTION -->
          <div class="cart-cta">
            <!-- CART TOTAL -->
            <div class="total-container">
              <p class="subtotal">Subtotal:</p>
              <p class="price">{{ cart.total_price | money }}</p>
            </div>
            
            <!-- CART BUTTONS -->
            <div class="cart-cta-container">
              <button 
                class="btn btn_outline" 
                type="submit" 
                name="update" 
              >
                Update
              </button>
              <div>
                <div class="helper-text">*Taxes and shipping calculated at checkout</div>
                <button 
                  class="btn btn_main" 
                  type="submit" 
                  name="checkout" 
                >
                  Checkout
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  {% else %}
  {% render 'error-empty-cart' %}
{% endif %}
 