<!-- COLLECTION STYLES -->
{{ 'collection.css' | asset_url | stylesheet_tag }}

<!-- VARIABLES -->
{% assign products_size = collections['frontpage'].products | size %}

<!-- SECTION SHOP -->
{% if products_size > 0 %}
  <section class="section-collection">
    <div class="container">

      <!-- PRODUCT GRID -->
      {% paginate collections['frontpage'].products by section.settings.product_count %}
        <div class="product-grid">
          <ul class="product-list grid grid-{{section.settings.column_count}}-col">

            <!-- PRODUCT CARD -->
          {% for product in collections['frontpage'].products %}
            {% render 'product-card', product: product %}
          {% endfor %}
          </ul>
        </div>

        {% render 'pagination', pagination: paginate %}
      {% endpaginate %} 
    </div>
  </section>
{% else %}
  {% render 'error-no-products' %}
{% endif %}

<!-- SCHEMA -->
{% schema %}
{
  "name": "Shop Grid",
  "settings": [
      {
        "type": "range",
        "id": "product_count",
        "min": 3,
        "max": 10,
        "step": 1,
        "default": 6,
        "label": "Product Count"
      },
      {
        "type": "range",
        "id": "column_count",
        "min": 3,
        "max": 5,
        "step": 1,
        "default": 3,
        "label": "Column Count"
      }
    ]
}
{% endschema %}