<!-- COLLECTION STYLES -->
{{ 'collection.css' | asset_url | stylesheet_tag }}

<!-- VARIABLES -->
{% if collection.handle == 'all' %}
  {% assign featured_collection = collections.frontpage %}
{% else %}
  {% assign featured_collection = collection %}
{% endif %}
{% assign products_size = featured_collection.products | size %}

<!-- SECTION SHOP -->
{% if products_size > 0 %}
  <!-- TYPE NAVIGATION -->
  {% case featured_collection.handle %}
    {% when 'frontpage' %}
      {% render 'type-navigation', featured_collection: featured_collection %}
    {% when 'types' %}
      {% render 'type-navigation', featured_collection: collections.all %}
    {% else %}
      <div class="heading-container__pages">
        <p class="subheading">Collection</p>
        <h2 class="heading-2">{{ featured_collection.title }}</h2>
      </div>
  {% endcase %}

  <section class="section__collection">
    <div class="container">
      <!-- PRODUCT GRID -->
      {% paginate featured_collection.products by section.settings.product_count %}
        <div class="product-grid">
          <ul class="product-list__collection grid grid-{{section.settings.column_count}}-col">
            <!-- PRODUCT CARD -->
            {% for product in featured_collection.products %}
              {% render 'product-card', product: product %}
            {% endfor %}
          </ul>
        </div>
        <!-- PAGINATION -->
        {% render 'pagination', pagination: paginate %}
      {% endpaginate %}
    </div>
  </section>
{% else %}
  {% render 'error-no-products' %}
{% endif %}

<!-- SCHEMA -->
{% schema %}
{
  "name": "Shop Grid",
  "settings": [
    {
      "type": "range",
      "id": "product_count",
      "min": 3,
      "max": 10,
      "step": 1,
      "default": 6,
      "label": "Product Count"
    },
    {
      "type": "range",
      "id": "column_count",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 3,
      "label": "Column Count"
    }
  ]
}
{% endschema %}
