{{ 'contact.css' | asset_url | stylesheet_tag }}

<div class="heading-container__pages">
  <p class="subheading">{{ page.title }}</p>
  <h2 class="heading-2">Connect with our Cosmic Crew</h2>
</div>

<section class="section-contact">
  <div class="container">
    <div class="contact-grid">
      <div class="contact-content">
        {{ page.content }}
        <nav class="contact-nav" role="navigation">
          <ul class="contact-icon-list">
            <li class="contact-item">
              <a
                class="link__contact-icon"
                href="https://www.instagram.com"
                target="_blank"
              >
                {% render 'icon-instagram', size: '2.4rem' %}
              </a>
            </li>
            <li class="contact-item">
              <a
                class="link__contact-icon"
                href="https://www.facebook.com"
                target="_blank"
              >
                {% render 'icon-facebook', size: '2.4rem' %}
              </a>
            </li>
            <li class="contact-item">
              <a
                class="link__contact-icon"
                href="https://www.spotify.com"
                target="_blank"
              >
                {% render 'icon-spotify', size: '2.4rem' %}
              </a>
            </li>
          </ul>
        </nav>
      </div>
      {% form 'contact', return_to: `/pages/contact` %}
        <!-- TODO update validation -->
        {% comment %}
          {% for error in form.errors %}
          {{ error }}
        {% endcomment %}

        {% if form.errors %}
          <h3>failed</h3>
        {% elsif form.posted_successfully? %}
          <h3>success</h3>
        {% endif %}

        {% comment %} {% endfor %} {% endcomment %}
        <div class="contact-input-container">
          <input
            class="contact-input"
            type="text"
            id="ContactFormName"
            name="contact[name]"
            placeholder="Name"
          >
        </div>
        <div class="contact-input-container">
          <input
            class="contact-input"
            type="email"
            id="ContactFormEmail"
            name="contact[email]"
            placeholder="Email"
          >
        </div>
        <div class="contact-input-container">
          <input
            class="contact-input"
            type="tel"
            id="ContactFormPhone"
            name="contact[phone]"
            placeholder="Phone"
          >
        </div>
        <div class="contact-input-container">
          <textarea
            class="contact-input"
            rows="10"
            id="ContactFormMessage"
            name="contact[body]"
            placeholder="Message"
          ></textarea>
        </div>
        <div class="contact-input-container">
          <input
            class="btn btn_outline contact-submit"
            type="submit"
            value="Submit"
          >
        </div>
      {% endform %}
    </div>
  </div>
</section>
