<!-- COLLECTION STYLES -->
{{ 'collection.css' | asset_url | stylesheet_tag }}

<!-- SECTION FEATURED COLLECTION -->
<section class="section__collection">
  <div class="container">
    <div class="heading-container">
      {% if section.settings.subtitle != blank %}
        <p class="subheading">{{ section.settings.subtitle }}</p>
      {% endif %}

      {% if section.settings.title != blank %}
        <h2 class="heading-2">{{ section.settings.title }}</h2>
      {% endif %}
    </div>

    <!-- PRODUCT GRID -->
    <div class="product-grid">
      <ul class="product-list__collection grid grid-{{section.settings.column_count}}-col">
        <!-- PRODUCT CARD -->
        {% for product in section.settings.featured_collection.products limit: section.settings.product_count %}
          {% render 'product-card', product: product %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
{% รรง %}

<!-- SCHEMA -->
{% schema %}
{
  "name": "Featured Collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "collection",
      "id": "featured_collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "product_count",
      "min": 3,
      "max": 10,
      "step": 1,
      "default": 6,
      "label": "Product Count"
    },
    {
      "type": "range",
      "id": "column_count",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 3,
      "label": "Column Count"
    }
  ]
}
{% endschema %}
