<!-- STYLES -->
{{ 'stores.css' | asset_url | stylesheet_tag }}

<!-- SECTION STORES -->
<section class="section-stores">
  <div class="container">
    <div class="heading-container">
      <p class="subheading">Stores</p>
      <h2 class="heading-2">Explore with us</h2>
    </div>
    <div class="stores-grid">
      <ul class="stores-list">
        <li class="stores-item">
          <div>
            <img
              class="stores-img"
              src="{{ images['sample.webp'] | image_url}}"
              alt="sample"
              width="auto"
              height="auto"
            >
          </div>
          <h3 class="stores-title">SM Aura, Taguig City</h3>
          <p class="stores-location">Commonwealth Aura</p>
          <p class="stores-address">SM Aura Premier, Mckinley Pkwy Taguig, Philippines</p>
        </li>
        <li class="stores-item">
          <div>
            <img
              class="stores-img"
              src="{{ images['sample.webp'] | image_url}}"
              alt="sample"
              width="auto"
              height="auto"
            >
          </div>
          <h3 class="stores-title">Greenbelt 5, Makati City</h3>
          <p class="stores-location">Commonwealth Greenbelt</p>
          <p class="stores-address">Ground Level, Greenbelt 5, Legazpi St., Ayala Center, Makati, Philippines</p>
        </li>
        <li class="stores-item">
          <div>
            <img
              class="stores-img"
              src="{{ images['sample.webp'] | image_url}}"
              alt="sample"
              width="auto"
              height="auto"
            >
          </div>
          <h3 class="stores-title">Rockwell, Makati City</h3>
          <p class="stores-location">Commonwealth Rockwell</p>
          <p class="stores-address">Rockwell Dr., Cor. Estrella Street, Barangay Poblacion, Makati, Philippines</p>
        </li>
      </ul>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Stores",
  "presets": [
    {
      "name": "Stores"
    }
  ]
}
{% endschema %}
