.section-stores {
  background-color: var(--gray);
}

.heading-container__about {
  background-color: var(--black);
  padding: 4.8rem;
}

.heading-container__about > .subheading {
  color: var(--main);
}

.heading-container__about > .heading-2 {
  color: var(--white);
}

.about-grid {
  display: grid;
  grid-template-columns: 1.6fr 2fr;
  gap: 4rem;
}

.about-img-container {
  max-height: 40rem;
  overflow: clip;
}

.about-img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-content {
  max-width: 60rem;
  line-height: 1.6;
}

/* ACCORDION */
.accordion {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.accordion-item details {
  border: 1px solid var(--gray-darkest);
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.accordion-item:last-child details {
  border-bottom: 1px solid var(--gray-darkest);
}

.accordion-item summary {
  padding: 2rem;
  cursor: pointer;
  list-style: none;
  transition: all 0.3s ease-out;
}

.accordion-item > details:hover > summary {
  background-color: var(--gray);
}

.accordion-heading {
  color: var(--black);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.accordion-content {
  padding: 2rem 2.8rem;
  line-height: 1.6;
  font-size: 1.4rem;
}

.accordion-content > ul {
  list-style: disc;
  padding-left: 2rem;
}

.accordion-content p,
.accordion-content li {
  margin-bottom: 1.2rem;
}

.accordion-content span {
  color: var(--black);
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

/***********************************/
/* BELOW 1024px (Laptops/ Tablets) */
/***********************************/
@media (max-width: 64em) {
  .heading-container__about {
    padding: 4rem;
  }
}

/*******************************/
/* BELOW 768px (Small Tablets) */
/*******************************/
@media (max-width: 48em) {
  .about-grid {
    grid-template-columns: 1fr 1fr;
  }
}

/************************/
/* BELOW 656px (Phones) */
/************************/
@media (max-width: 41em) {
  .heading-container__about {
    padding: 3.2rem;
  }

  .about-grid {
    grid-template-columns: 1fr;
  }
}
