@import 'https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;600;700&family=Roboto+Condensed:wght@200;400;600;700&display=swap';

/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Barlow', serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #212529;
  background-color: #212529;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

/* UTILITY STYLES */
.relative {
  position: relative;
}

/* FONT STYLES */
.bold-uc {
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

/* LINK STYLES */
.tmp-link__header:link,
.tmp-link__header:visited {
  color: #212529;
  transition: all 0.3s ease-out;
}

.tmp-link__header:link.active,
.tmp-link__header:visited.active,
.tmp-link__header:hover,
.tmp-link__header:active {
  color: #afa4ce;
}

.tmp-link__header__md:link,
.tmp-link__header__md:visited {
  color: #212529;
  transition: all 0.3s ease-out;
}

.tmp-link__header__md:link.active,
.tmp-link__header__md:visited.active,
.tmp-link__header__md:hover,
.tmp-link__header__md:active {
  color: #afa4ce;
  background-color: #f1f3f5;
}

/* ICON STYLES */
.tmp-icon__header {
  fill: #212529;
  transition: all 0.3s ease-out;
}

.tmp-icon__header.active,
.tmp-icon__header:hover {
  fill: #afa4ce;
}

/* HEADER */
.header {
  height: 12rem;
  padding: 0 4.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tmp-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #f1f3f5;
}

.header-list {
  display: flex;
  gap: 4.8rem;
}

.header-nav__md {
  display: none;
}

.header-icons {
  display: flex;
  gap: 3.2rem;
}

.header-icon:last-child {
  display: none;
}
