@import 'https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;600;700&family=Roboto+Condensed:wght@200;400;600;700&display=swap';

/* ROOT VARIABLES */
:root {
  --main: #afa4ce;
  --main-dark: #8c83a5;
  --black: #212529;
  --gray: #f1f3f5;
  --white: #f8f9fa;
}

/* RESETS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--gray);
  color: var(--black);
  font-family: 'Barlow', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
  overflow-x: hidden;
}

a {
  color: inherit;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

/* UTILITY STYLES */
.relative {
  position: relative;
}

/* FONT STYLES */
.bold {
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.font-40 {
  font-size: 4rem;
}

/* LINK STYLES */
.tmp-link__header:link,
.tmp-link__header:visited {
  color: var(--black);
  transition: all 0.3s ease-out;
}

.tmp-link__header:link.active,
.tmp-link__header:visited.active,
.tmp-link__header:hover,
.tmp-link__header:active {
  color: var(--main);
}

.tmp-link__header__md:link,
.tmp-link__header__md:visited {
  color: var(--black);
  transition: all 0.3s ease-out;
}

.tmp-link__header__md:link.active,
.tmp-link__header__md:visited.active,
.tmp-link__header__md:hover,
.tmp-link__header__md:active {
  background: var(--gray);
  color: var(--main);
}

/* ICON STYLES */
.tmp-icon__header {
  fill: var(--black);
  transition: all 0.3s ease-out;
}

.tmp-icon__header.active,
.tmp-icon__header:hover {
  fill: var(--main);
}

/* BUTTON STYLES */
.tmp-btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.16rem;
}

.tmp-btn_main {
  background-color: var(--main);
  color: var(--white);
  transition: all 0.3s ease-out;
}

.tmp-btn_main:hover {
  background-color: var(--main-dark);
}

.tmp-btn_404 {
  padding: 1.6rem 6.4rem;
}

/* SECTION 404 */
.section-404 {
  height: calc(100vh - 12rem);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}

.img-container-404 {
  margin-bottom: 2rem;
}
