/* SECTION CART */
.heading-container__cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.8rem;
}

.shopify-cart-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4rem;
}

.table__cart {
  width: 100%;
  border-collapse: collapse;
}

.thead,
.tbody {
  border-bottom: 1px solid #ced4da;
}

.th {
  padding-bottom: 2rem;
}

.td {
  padding: 2.4rem 0;
}

.product-data__cart {
  display: flex;
  align-items: center;
  gap: 3.6rem;
}

.product-data__description--sm {
  display: none;
}

.total-heading__cart,
.total-data__cart {
  text-align: end;
}

.product-img__cart {
  width: auto;
  max-height: 12rem;
}

.product-title__cart {
  margin-bottom: 0.4rem;
}

.product-variant__cart,
.product-price__cart {
  font-size: 1.4rem;
}

.input-container__cart {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.input-quantity__cart {
  width: 5rem;
  padding: 0.8rem;
  margin-right: 1.6rem;
}

.cta__cart {
  width: 32%;
  margin-left: auto;
}

.total-container__cart {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
}

.product-total__cart,
.total-container__cart {
  font-weight: 600;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
}

.subtotal__cart {
  font-family: 'Roboto Condensed', sans-serif;
}

.cta-container__cart {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.helper-text__cart {
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 0.4rem;
}

.helper-text__term {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.helper-text__term label {
  display: inline-block;
  transform: translateY(-2px);
  margin-left: 4px;
}

.helper-text__term a:link,
.helper-text__term a:visited {
  color: var(--main);
  text-decoration: underline;
  padding: 1rem 0;
  transition: all 0.3s ease;
}

.helper-text__term a:hover,
.helper-text__term a:active {
  color: var(--main-dark);
}

.error-message {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.4rem;
  margin-top: 1.2rem;
}

/*******************************/
/* BELOW 896px (Small Tablets) */
/*******************************/
@media (max-width: 56em) {
  /* CART */
  .cta__cart {
    width: 48%;
  }
}

/************************/
/* BELOW 656px (Phones) */
/************************/
@media (max-width: 41em) {
  /* CART */
  .product-data__description {
    display: none;
  }

  .quantity-heading__cart {
    visibility: hidden;
  }

  .product-data__description--sm {
    display: block;
    margin-bottom: 1.2rem;
  }

  .cta__cart {
    width: 100%;
  }
}
