/* SECTION CART */
.heading-container__cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4.8rem;
}

.table__cart {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 4.8rem;
}

.thead,
.tbody {
  border-bottom: 1px solid #ced4da;
}

.th {
  padding-bottom: 2rem;
}

.td {
  padding: 2.4rem 0;
}

.product-data__cart {
  display: flex;
  align-items: center;
  gap: 3.6rem;
}

.total-heading__cart,
.total-data__cart {
  text-align: end;
}

.product-img__cart {
  width: auto;
  max-height: 12rem;
}

.product-title__cart {
  margin-bottom: 0.4rem;
}

.product-variant__cart,
.product-price__cart {
  font-size: 1.4rem;
}

.input-container__cart {
  display: flex;
  align-items: center;
}

.input-container__cart--sm {
  display: none;
  visibility: hidden;
}

.input-quantity__cart {
  width: 5rem;
  padding: 0.8rem;
  margin-right: 1.6rem;
}

.cta__cart {
  width: 32%;
  margin-left: auto;
}

.total-container__cart {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
}

.product-total__cart,
.total-container__cart {
  font-weight: 600;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
}

.subtotal__cart {
  font-family: 'Roboto Condensed', sans-serif;
}

.cta-container__cart {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.helper-text__cart {
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 0.4rem;
}

/*******************************/
/* BELOW 896px (Small Tablets) */
/*******************************/
@media (max-width: 56em) {
  /* CART */
  .cta__cart {
    width: 48%;
  }
}

/************************/
/* BELOW 656px (Phones) */
/************************/
@media (max-width: 41em) {
  /* CART */
  .quantity-heading__cart, 
  .quantity-data__cart {
    display: none;
    visibility: hidden;
  }
  
  .input-container__cart--sm {
    display: flex;
    align-items: center;
    margin-top: 0.8rem;
    visibility: visible;
  }

  .cta__cart {
    width: 100%;
  }
}