/* FOOTER */
.footer {
  padding: 8rem 0 0;
  background-color: var(--black);
  color: var(--white);
}

.footer-nav {
  margin-top: 2.4rem;
  font-weight: 200;
  letter-spacing: 0.12rem;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footer-icon-list {
  display: flex;
  gap: 2.4rem;
}

.footer-copyright {
  padding: 8rem 0 4rem;
  text-align: center;
}

.footer-logo-text {
  color: var(--main);
}

.footer-logo-img {
  height: 12rem;
  width: 12rem;
}

/* NEWSLETTER FORM */
.footer .heading-2 {
  color: var(--white);
}

.footer__newsletter {
  margin: 4rem 0 12rem;
}

.form {
  width: 100%;
  text-align: center;
}

.form__group {
  display: inline-block;
}

/* TODO: use grid on parent for responsive sizing*/
.form__input {
  font-size: 1.6rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  width: 52rem;
  padding: 1.2rem;
  border: none;
  outline: 1px solid transparent;
}

.form__input::placeholder {
  color: var(--gray-darkest);
}

.form__btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.16rem;
  text-transform: uppercase;
  padding: 1.2rem 4rem;
  background-color: var(--main);
  color: var(--white);
  transition: all 0.3s ease-out;
}

.form__btn:hover {
  background-color: var(--main-dark);
}

.form__input:not(:placeholder-shown):valid {
  outline-color: var(--green);
}

.form__input:not(:placeholder-shown):invalid {
  outline-color: var(--red);
}

.form__input:focus:invalid {
  outline-color: var(--yellow);
}

.form__notification {
  display: flex;
  margin-bottom: 1.2rem;
  align-items: center;
  justify-content: center;
}

/*******************************/
/* BELOW 768px (Small Tablets) */
/*******************************/
@media (max-width: 48em) {
  /* FOOTER */
  .footer-col:nth-child(3) {
    grid-column: 2 / 3;
  }

  .footer-col:last-child {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  /* NEWSLETTER FORM */
  .form {
    width: 100%;
  }

  .form__input {
    width: 40rem;
  }
}

/************************/
/* BELOW 656px (Phones) */
/************************/
@media (max-width: 41em) {
  /* FOOTER */
  .footer .footer-col {
    grid-column: 1;
  }

  .footer-col:nth-child(4) {
    grid-row: 4;
  }

  /* NEWSLETTER FORM */
  .form__group {
    display: block;
  }

  .form__input {
    width: 100%;
  }

  .form__btn {
    width: 100%;
    margin-top: 0.4rem;
  }
}
