/* SECTION PRODUCT ITEM */
.section__product .grid {
  gap: 3.2rem;
}

.product-gallery__product {
  display: grid;
  gap: 1.2rem;
}

.product-gallery__carousel {
  display: none;
}

.product-img__product {
  width: 100%;
  height: auto;
}

.product-description__product {
  height: fit-content;
  position: sticky;
  top: 2rem;
}

.form__product {
  display: flex;
  flex-direction: column;
}

.product-price-container__product {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  letter-spacing: 0.1rem;
}

.product-price__product {
  font-size: 2rem;
}

.product-price__product--sale {
  font-size: 1.6rem;
  font-weight: 200;
  text-decoration: line-through;
}

.variant-selector {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 2rem;
}

.variant-selector::after {
  content: '';
  clear: both;
  display: inline-block;
}

.variant-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  gap: 0.4rem;
  text-align: center;
}

.cta-container__product {
  margin: 2.8rem 0 1.4rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.6rem;
}

.error-message {
  grid-column: 1 / -1;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.product-content__product {
  display: none;
}

#product-accordion strong {
  font-style: italic;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

/*******************************/
/* BELOW 896px (Small Tablets) */
/*******************************/
@media (max-width: 56em) {
  .cta-container__product {
    grid-template-columns: 1fr 4fr;
  }
}

/*******************************/
/* BELOW 768px (Small Tablets) */
/*******************************/
@media (max-width: 48em) {
  .product-gallery__product {
    display: none;
  }

  .product-gallery__carousel {
    display: block;
  }

  .product-carousel-list {
    display: flex;
    overflow: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }

  .product-carousel-list::-webkit-scrollbar {
    display: none;
  }

  .product-carousel-img {
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }

  .product-carousel-btns {
    margin-top: 2rem;
    padding: 0 6rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .product-carousel-indicators {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  .product-carousel-indicator {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 100%;
    background-color: var(--gray);
    border: 0.2rem solid var(--gray-dark);
    transition: all 0.1s ease-out;
  }

  .product-carousel-indicator.active {
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--gray);
    border: 0.4rem solid var(--main);
  }

  .product-carousel-btn > .icon-left-chevron,
  .product-carousel-btn > .icon-right-chevron {
    fill: var(--black);
  }
}

/************************/
/* BELOW 656px (Phones) */
/************************/
@media (max-width: 41em) {
  .cta-container__product {
    grid-template-columns: 1fr 3fr;
  }
}

/************************/
/* BELOW 432px (Small Phones) */
/************************/
@media (max-width: 27em) {
  .product-carousel-btns {
    padding: 0 3.2rem;
  }
}

/************************/
/* BELOW 432px (Phones) */
/************************/
@media (max-width: 20em) {
  .product-carousel-btns {
    padding: 0 1rem;
  }
}
