/***********************************/
/* BELOW 1200px (Smaller Desktops) */
/***********************************/
@media (max-width: 75em) {
}

/***********************************/
/* BELOW 1024px (Laptops/ Tablets) */
/***********************************/
@media (max-width: 64em) {
  /* UTILITY STYLES */
  .container {
    padding: 0 4rem;
  }

  /* SECTION ERROR */
  .section-error {
    height: calc(100vh - 7rem);
  }
}

/*******************************/
/* BELOW 896px (Small Tablets) */
/*******************************/
@media (max-width: 56em) {
  /* SECTION */
  .section-collection {
    padding: 6.4rem 0;
  }
}

/*******************************/
/* BELOW 768px (Small Tablets) */
/*******************************/
@media (max-width: 48em) {
  /* RESET */
  html {
    font-size: 56.25%;
  }

  /* CSSGRID */
  .grid-3-col,
  .grid-4-col,
  .grid-5-col {
    grid-template-columns: repeat(2, 1fr);
  }
}

/************************/
/* BELOW 656px (Phones) */
/************************/
@media (max-width: 41em) {
  /* UTILITY STYLES */
  .container {
    padding: 0 3.2rem;
  }

  /* CSSGRID */
  .grid-3-col,
  .grid-4-col,
  .grid-5-col {
    grid-template-columns: repeat(1, 1fr);
  }

  /* BUTTON STYLES */
  .tmp-btn {
    width: 100%;
  }

  /* SECTION */
  .section-collection {
    padding: 4.8rem 0;
  }

  /* SECTION ERROR */
  .section-error {
    padding: 0 3.2rem;
  }
}

/************************/
/* BELOW 432px (Phones) */
/************************/
@media (max-width: 27em) {
  /* RESET */
  html {
    font-size: 50%;
  }
}
