/***********************************/
/* BELOW 1200px (Smaller Desktops) */
/***********************************/
@media (max-width: 75em) {
}

/***********************************/
/* BELOW 1024px (Laptops/ Tablets) */
/***********************************/
@media (max-width: 64em) {
  /* SECTION 404 */
  .section-404 {
    height: calc(100vh - 7rem);
  }
}

/*******************************/
/* BELOW 896px (Small Tablets) */
/*******************************/
@media (max-width: 56em) {
}

/*******************************/
/* BELOW 768px (Small Tablets) */
/*******************************/
@media (max-width: 48em) {
  /* RESET */
  html {
    font-size: 56.25%;
  }
}

/************************/
/* BELOW 656px (Phones) */
/************************/
@media (max-width: 41em) {
  /* BUTTON STYLES */
  .tmp-btn {
    width: 100%;
  }

  /* SECTION 404 */
  .section-404 {
    padding: 0 3.2rem;
  }
}

/************************/
/* BELOW 432px (Phones) */
/************************/
@media (max-width: 27em) {
  /* RESET */
  html {
    font-size: 50%;
  }
}
