.stores-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.stores-img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.stores-title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.stores-address,
.stores-location {
  margin-top: 0.8rem;
  font-size: 1.2rem;
  line-height: 1.2;
}

/************************/
/* BELOW 656px (Phones) */
/************************/
@media (max-width: 41em) {
  .stores-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
  }
}
